* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.wrap {
  display: flex;
  justify-content: space-around;
}
.card {
  color: #fff;
  background-color: rgb(201, 69, 12);
  list-style-type: none;
  box-shadow: 0px 0px 7px 1px #c4c3c3;
  width: calc(25% - 15px);
  padding: 15px;
}
.item {
  margin-bottom: 10px;
}

.remove {
  padding: 10px 15px;
  color: #fff;
  background-color: #000;
  border: 0;
  outline: none;
  cursor: pointer;
}
